<nav id="Nav1">
    <div></div>
    <div class="middle">
        <h2>Book <span id="span1">Store</span></h2>
    </div>
    <div class="Right"> <input type="search" placeholder="search"><Button>Login</Button><Button>Registor</Button> </div>
</nav>


<nav>

    <div class="middle"> <a href="/">Home</a><a href="/Create">Create</a> <a href="/Readall">Library</a> </div>

</nav>

<div class="Overlay"></div>