<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />


</head>

<body>


    <%- include('./partials/nav') %>

        <h1 id="Head1">Book Store Entry</h1>



        <form class="FormBox" action="/Library" method="post">
            <input type="text" placeholder="Book Name" name="Name">
            <input type="text" placeholder="Author Name" name="Author">
            <input type="text" placeholder="Book Price"name="Price">
            <input type="text" placeholder="book Quantity" name="quantity">
            <input type="text" placeholder="Book Category" name="Category"> 
            <textarea name="Textarea" placeholder="Enter Text Here"cols="30" rows="10"></textarea><br> 
                <button>Add Book</button>
        </form>




</body>

</html>