<div class="Container">

    <div class="overlay">
        <%- include('./partials/header') %>

            <%- include('./partials/nav') %>
                <div class="Box1">
                    <h1 id="head2">Welcome To The Online <span>BookHouse</span></h1>
                    <div id="Box2">
                        <p>An online book store is a web application that allows customers to buy books online.
                            Customers can search for a book by title or author using a web browser, add it to their
                            shopping cart, and then purchase it using a debit or credit card transaction.</p>
                        <button>Explore More</button>
                    </div>
                </div>

    </div>


</div>



<%- include('./partials/footer') %>